@page
@model ListModel
@{
}


<table class="table">
@foreach (var r in Model.Restaurants)
{
    <tr>
     <td>@r.Id</td>
     <td> @r.Name</td>
     <td>@r.Location</td>
      <td> @r.Cuisine</td>

    </tr>
    
}
</table>
<div>
<h1> @Model.Message  </h1>

</div>


